.*
!.gitignore

.venv/
env/

*.log
*.tmp
*.swp
*.bak
*.old

public/
resources/_gen/
node_modules/
dist/
.cache/

.vscode/
.idea/
.DS_Store
Thumbs.db

*.json
*.jsonl

*.exe
*.dll
*.so
*.out
*.o

*.sqlite3
*.db
